#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

#root,.ant-layout,body,html {
  height: 100%;
}

.site-calendar-demo-card {
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}
.site-card-wrapper{
  height: 100%;
  overflow-y: scroll;
}
.workspace-project{
  display: flex;
  height: 150px;
  background-color: #fff;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  padding: 0 80px;
}

.item-number{
  font-size: 28px;
}
.header{
  height: 48px;
  line-height: 48px;
}